*{

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

}


body{

background-color: #bdc3c7;
}



#contain{
	width: 800px;
	height: auto ;
	margin-bottom: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-right: auto;
}


#header{
width: 100%;
height: 200px;
background-image: url(images/header.jpg);
border-radius: 3px;
}


/* ---------------------------------------------------- */


#manu{
height: 25px;
background-color: #f1c40f;
}

ul{
margin: 0px ;
padding: 0px;

}
ul li a {

text-decoration: none;
color: #2c3e50;
display: block;
}

ul li{
list-style-type: none;
	float: left;
width: 75px;
height: 40px;
font-size: 15px;
line-height: 25px;
text-align: center;
font-family: Arial;
text-transform: uppercase;




}

ul li a:hover{
	background-color: #f39c12;
 }

/* -------------------------------------------------------------------*/

ul li ul li {

display: none;


}

ul li : hover ul li {

display: block;

}




#sidebar{
	width: 200px;
	height: 500px;
	background-color:#2c3e50;
	float: left;
background-color: #ecf0f1;
}



#mainbody{
width: 600px;
height: 500px;
float: right;
background-color: #f1c40f;
background-color: #f39c12;
}




#footer{
	height: 30px;
	margin-bottom: 21px;
	background: #f1c40f;
	clear: both;
}




/* ---------------------------------------------- */




/* start Navbar */

.footer{
	background-color: #3498db;
	overflow: hidden;
}

/* End Navbar */











/* --------------------------------------------*/
